html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#cont{
    max-width: 605px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#disp{
    border: 2px solid #5f6368;
    width: 100%;
    height: 80px;
    text-align: right;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 5px;
}

#up{
    font-size: 20px;
    margin: 5px;
    margin-right: 10px;
}

#quest{
    font-size: 30px;
    margin: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#grid{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    text-align: center;
    border: none;
    gap: 2px;
    margin-left: auto;
    margin-right: auto;
}

.num{
    background-color: #3c4043;
    border: none;
    border-radius: 4px;
    color: white;
    width: 150px;
    font-size: 15px;
    margin: 0px;
    height: 50px;
}

#grid :hover{
    background-color: gray;
    color: black;
    border: none;
}

.op{
    background-color: #5f6368;
    border-radius: 4px;
    color: white;
    width: 150px;
    border: none;
    font-size: 15px;
}

#eq{
    background-color: #8ab4f8;
    color: black;
    border-radius: 4px;
    width: 150px;
    border: none;
    font-size: 15px;

}

@media screen and (max-width:650px){ /* Resizing for phone screens */
    #grid{
        grid-template-columns: 100px 100px 100px 100px;
        grid-template-rows: 50px 50px 50px 50px 50px;
    }
    
    #cont{
        max-width: 405px;
    }

    .num{
        width: 100px;
    }

    .op{
        width: 100px;
    }

    #eq{
        width: 100px;
    }
}

@media screen and (max-width:450px){ /* Resizing for phone screens */
    #grid{
        grid-template-columns: 50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px 50px;
    }
    
    #cont{
        max-width: 205px;
    }

    .num{
        width: 50px;
    }

    .op{
        width: 50px;
    }

    #eq{
        width: 50px;
    }
}